<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta rel="icon" href="/favicon.ico">
    <title>成功案例__淘宝网店服务_网店货源分销_网店服务_广艺舟电商综合服务www.guangyizhou.cn</title>
    <meta name="keywords" content="电商平台入驻|个人开网店|淘宝店入驻|拼多多开店|淘宝店铺装修|网店培训|网店工具|网店服务|企业服务|货源分销|电商直播|短视频拍摄|淘宝装修|淘宝直播|淘宝服务">
    <meta name="description" content="广艺舟多年网店服务及电商企业服务优质案例展示，提供网店服务、电商综合性服务、淘宝装修等经典案例展示。">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/vant.css">
    <link rel="stylesheet" href="/assets/css/swiper.css">
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/axios.js"></script>
    <script src="/assets/js/vant.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/vue-awesome-swiper.js"></script>
</head>

<body>
    <div id="app" class="index">
        <van-popup closeable v-model="show" round position="top" :style="{ height: '50%' }">
            <div class="nav">
                <a href="/">首页</a>
                <a href="/case">成功案例</a>
                <a href="/news">新闻中心</a>
                <a href="/about">关于我们</a>
                <a href="http://s.guangyizhou.cn">服务中心</a>
            </div>
        </van-popup>
        <div class="header container">
            <div class="logo">
                <a href="/">
                    <img src="/assets/image/logo.png" alt="">
                </a>
            </div>
            <div class="menu">
                <van-icon name="wap-nav" @click="show=true" />
            </div>
        </div>
        <div class="banner">
            <img src="/assets/image/about_banner1.jpg" alt="">
        </div>
        <div class="container">
            <div class="news">
                <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
                    <van-cell v-for="item in newList" :key="item">
                        <div class="new-item" @click.stop="toDetails(item)">
                            <div class="news-img">
                                <div class="image">
                                    <img :src="item.pic" alt="" />
                                </div>
                                <div class="date"> </div>
                            </div>
                            <div class="new-text">
                                <div class="title">{{item.title}}</div>
                                <div class="content">{{item.content | htmlTotext}}</div>
                                <div class="more">立即查看</div>
                            </div>
                        </div>
                    </van-cell>
                </van-list>
            </div>
        </div>
        <div class="footer">
            <div class="link">
                <span>开店技巧</span>
                <span>教学培训</span>
                <span>电商服务</span>
                <span>网店货源</span>
                <span>网店装修</span>
                <span>套餐培训</span>
                <span>店铺美化</span>
                <span>视频教程</span>
            </div>
            <div class="tel">
                <div>投诉电话：400-601-5760转3</div>
                <div>投诉邮箱：tousu@guangyizhou.com</div>
            </div>
            <div class="line"> </div>
            <div class="copyright">
                <div> 版权所有&copy;四川广艺舟科技有限公司 保留一切权利 </div>
                <div> 网站备案： 蜀ICP备19028568号-1 </div>
            </div>
            <div class="foot-two container">
                <template v-for="(item,index) in icon">
                    <div class="icon" :key="index">
                        <img :src="item.icon" :alt="item.title" />
                    </div>
                </template>
            </div>
        </div>
    </div>
</body>
<script>
    Vue.use(window.VueAwesomeSwiper)
    new Vue({
        el: '#app',
        data: {
            icon: [
                // { icon: "/assets/image/icon/tb1.png", title: "Facebook" },
                // { icon: "/assets/image/icon/tb2.png", title: "Twitter" },
                // { icon: "/assets/image/icon/tb3.png", title: "Google" },
                // { icon: "/assets/image/icon/tb4.png", title: "LinkedIn" },
                // { icon: "/assets/image/icon/tb5.png", title: "Youtube" },
                // { icon: "/assets/image/icon/tb6.png", title: "Skype" }
            ],
            newList: [],
            loading: false,
            finished: false,
            show: false,
            page: {
                limit: 10,
                page: 1,
                total: 0
            },
        },
        created() {
            this.getData();
        },
        filters: {
            htmlTotext(a) {
                let dom = document.createElement('div');
                dom.innerHTML = a;
                let text = dom.innerText;
                dom.style.display = 'none';
                document.body.append(dom);
                document.body.removeChild(dom);
                return text;
            }
        },
        methods: {
            toDetails(item) {
                window.location.href = '/details/?id=' + item.id + '&type=' + item.type_one
            },
            async onLoad() {
                // 数据全部加载完成
                if (this.newList.length == this.page.total) {
                    this.finished = true;
                    return;
                }
                // 异步更新数据
                this.page.page++;
                let { data } = await axios('http://api.guangyizhou.cn/api/Cases/lists', {
                    params: this.page
                });
                if (data.code) {
                    this.newList.push(data);
                }
                // 加载状态结束
                this.loading = false;

            },
            async getData() {
                let { data } = await axios('http://api.guangyizhou.cn/api/Cases/lists', {
                    params: this.page
                })
                if (data.code) {
                    this.newList = data.data;
                    this.page.total = data.count;
                }

            }

        }

    })
</script>

</html>