<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta rel="icon" href="/favicon.ico">
    <title>关于我们_淘宝店铺培训_货源分销_网店服务_广艺舟电商综合服务www.guangyizhou.cn</title>
    <meta name="keywords" content="网店培训|网店工具|网店服务|企业服务|货源分销|电商直播|短视频拍摄|淘宝装修|淘宝直播|淘宝服务|">
    <meta name="description" content="广艺舟为电商中小卖家提供多项服务技术支撑，包含有网店培训、网店工具、网店服务、企业服务、货源分销、电商直播、短视频拍摄七大服务板块">
    <script src="../assets/vue.js"></script>
    <link rel="stylesheet" href="../assets/index.css">
    <script src="/assets/index.js"></script>
</head>

<body>
    <div id="app">
        <div class="app-head">
            <div class="container menu">
                <div class="logo">
                    <img src="../assets/logo.png" alt="logo" />
                </div>

                <div class="nav">
                    <a href="/" class="nav-item  ">首页</a>
                    <a href="/about" class="nav-item active">关于我们</a>
                    <a href="/news" class="nav-item">新闻中心</a>
                    <a href="/case" class="nav-item">成功案例</a>
                    <a href="/service" class="nav-item">服务中心</a>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="banner">
                <!-- banner -->
                <div class="banner-item">
                    <div class="banner-img">
                        <img src="../assets/image/a.png" alt />
                    </div>
                </div>
            </div>
            <div class="title">
                <div class="title-top">关于广艺舟</div>
                <div class="title-sub">
                    <span>开网店选广艺舟中国专业的电商服务平台</span>
                    <span>让天下没有难开的店</span>
                </div>
                <div class="title-bottom"></div>
            </div>
            <div class="about">
                <div class="button">
                    <span @click="tab='about'" :class="{active:tab=='about'}">公司简介</span>
                    <span @click="tab='book'" :class="{active:tab=='book'}">荣誉证书</span>
                </div>
                <div class="tab container">
                    <div v-if="tab=='about'" class="about">
                        <div class="img">
                            <img src="../assets/image/about_a.jpg" alt />
                        </div>
                        <div class="text">
                            <div>关于广艺舟</div>
                            <div>
                                公司拥有一支有多年电商服务资深经验的管理团队和专业的服务团队，凭借多年积累的电商行业实践经验，致力于解决电商中小卖家的需求，为电商中小卖家提供多项服务技术支撑，包含有网店培训、网店工具、网店服务、企业服务、货源分销、电商直播、短视频拍摄七大服务板块，为电商中小卖家提供一站式，系统化的服务方案。我们不断倾听和满足用户需求，用技术+服务的方式让企业与用户更加紧密的联系在一起，让互联网+更简单；
                            </div>
                        </div>
                    </div>
                    <div v-if="tab=='book'" class="book">
                        <div>
                            <img src="http://www.taoledou.cn/public/home/static/img/z1.jpg" alt />
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <div class="title-top">公司宗旨</div>
                <div class="title-sub">
                    <span>开网店选广艺舟中国专业的电商服务平台</span>
                    <span>让天下没有难开的店</span>
                </div>
                <div class="title-bottom"></div>
            </div>
            <div class="purpose container">
                <div class="img">
                    <img src="../assets/image/about1.jpg" alt />
                </div>
                <div class="img">
                    <img src="../assets/image/about2.jpg" alt />
                </div>
                <div class="img">
                    <img src="../assets/image/about3.jpg" alt />
                </div>
                <div class="img">
                    <img src="../assets/image/about4.jpg" alt />
                </div>
            </div>
            <div class="banner">
                <!-- banner -->
                <div class="banner-item">
                    <div class="banner-img">
                        <img src="../assets/image/about_banner1.jpg" alt />
                    </div>
                </div>
            </div>
        </div>
        <div class="app-foot">
            <div class="foot-wrap">
                <div class="foot-one container">
                    <div class="foot-content">
                        <div class="foot-title">关于我们</div>
                        <div class="foot-text">
                            公司拥有一支有多年电商服务资深经验的管理团队和专业的服务团队，凭借多
                            年积累的电商行业实践经验，致力于解决电商中小卖家的需求，为电商中小卖
                            家提供一站式，系统化的服务方案。
                            <br />
                            <br />地址：中国(四川)自由贸易试验区成都高新区吉瑞三路99号1幢4单元16层
                            <br />版权所有 © 四川广艺舟科技有限公司 保留一切权利
                            <br />网站备案： 蜀ICP备19028568号-1
                            <br />
                        </div>
                    </div>
                    <div class="foot-content">
                        <div class="foot-title">我们的服务</div>
                        <div class="foot-text">
                            <div>广艺舟开店技巧</div>
                            <div>开店教学培训</div>
                            <div>网店货源</div>
                            <div>网店装修</div>
                            <div>店铺美化</div>
                        </div>
                    </div>
                    <div class="foot-content">
                        <div class="foot-title">标签</div>
                        <div class="foot-text">
                            <span>培训</span>
                            <span>网店</span>
                            <span>视频</span>
                            <span>一站式服务</span>
                            <span>创业孵化</span>
                            <span>电商</span>
                            <span>装修</span>
                        </div>
                    </div>
                </div>
                <div class="foot-two container">
                    <template v-for="(item,index) in icon">
                        <div class="icon" :key="index">
                            <img :src="item.icon" :alt="item.title" />
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                tab: "about", icon: [
                    // { icon: "../assets/icon/tb1.png", title: "Facebook" },
                    // { icon: "../assets/icon/tb2.png", title: "Twitter" },
                    // { icon: "../assets/icon/tb3.png", title: "Google" },
                    // { icon: "../assets/icon/tb4.png", title: "LinkedIn" },
                    // { icon: "../assets/icon/tb5.png", title: "Youtube" },
                    // { icon: "../assets/icon/tb6.png", title: "Skype" }
                ],
            }
        })
    </script>
</body>

</html>